.btn-blue {
	background-color: #F8798A; 
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;

}

.btn-blue:hover {
	background-color: #C96571;
	color: white;

}